page-open {
  ion-card img{
    height: 200px;
  }
  img{
    height: 200px;
  }
  ion-label{
    white-space: normal;
  }
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 80%;
    width: 100%;
    font-weight: bold;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 14px;
  }
  ion-card img{
    height: 200px;
  }

}
