page-course-center {
  .item-ios ion-thumbnail {
     min-width:80px;
     min-height:56px;
   }
  .item-ios ion-thumbnail img {
    width:80px;
    height:56px;
  }
  .item-md ion-thumbnail {
    min-width:80px;
    min-height:56px;
  }
  .item-md ion-thumbnail img {
    width:80px;
    height:56px;
  }

}
.action-sheets-basic-page {
  .ion-md-copy {
    color: #508AE4;
  }
  .action-sheet-cancel ion-icon {
    color: #757575;
  }
  .action-sheet-destructive ion-icon {
    color: #ED4248;
  }
}
  .segment-ios .segment-button{
    color: rgba(60, 60, 60, 0.7);
  }
  .segment-md .segment-button{
    color: rgba(60, 60, 60, 0.7);
  }
  .segment-ios .segment-activated{
    color: #488aff;
  }
  .segment-md .segment-activated{
    color: #488aff;
  }
