page-course-center {

}
//.segment-ios .segment-button{
//    font-family: "Microsoft YaHei";
//    font-size: 14px;
//}
//.item-ios p{
//    font-family: "Microsoft YaHei";
//    font-size: 14px;
//}
//.item-ios h3{
//    font-family: "Microsoft YaHei";
//    font-size: 14px;
//}
//.button-inner{
//    font-family: "Microsoft YaHei";
//    font-size: 14px;
//}
.action-sheets-basic-page {
  .ion-md-copy {
    color: #508AE4;
  }
  .action-sheet-cancel ion-icon {
    color: #757575;
  }
  .action-sheet-destructive ion-icon {
    color: #ED4248;
  }
}
