page-course-center {

}
.segment-ios .segment-button{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.item-ios p{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.item-ios h3{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.button-inner{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
