<ion-header>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="study">
        学习
      </ion-segment-button>
      <ion-segment-button value="teach">
        教学
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'study'">
      <ion-item  *ngFor="let studyItem of studyItems;let i = index" (click)="openDetailPageOfStu(studyItem.id)" >
        <ion-thumbnail item-start>
          <img src="http://lms.ccnl.scut.edu.cn/lms/custom/{{studyThumbnails[i]}}" onerror="this.src='./assets/imgs/course.png'">
        </ion-thumbnail>
        <h3>{{studyItem.name}}</h3>
        <p>{{studyItem.introduction}}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'teach'">
      <button ion-button (click)="createCourse()" small  block>创建课程</button>
        <ion-item *ngFor="let teachItem of teachItems;let i = index" (click)="openTeacherPage(teachItem.id)" (press)="presentActionSheet($event, teachItem.id)">
          <ion-thumbnail item-start>
            <img src="http://lms.ccnl.scut.edu.cn/lms/custom/{{teachThumbnails[i]}}" onerror="this.src='./assets/imgs/course.png'">
          </ion-thumbnail>
          <h3>{{teachItem.name}}</h3>
          <p>{{teachItem.introduction}}</p>
        </ion-item>
    </ion-list>

  </div>
</ion-content>
