<ion-header>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="study">
        学习
      </ion-segment-button>
      <ion-segment-button value="teach">
        教学
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'study'">
      <ion-item  *ngFor="let studyItem of studyItems" (click)="openDetailPageOfStu(studyItem.id)" >
        <ion-thumbnail item-start>
          <img src="http://lms.ccnl.scut.edu.cn/lms/custom/{{studyItem.filepath}}">
        </ion-thumbnail>
        <h3>{{studyItem.name}}</h3>
        <p>{{studyItem.introduction}}</p>
        <!--<button ion-button (click)="openDetailPageOfStu(studyItem.id)" item-end>查看</button>-->
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'teach'">
        <ion-item *ngFor="let teachItem of teachItems" (click)="openTeacherPage(teachItem.id)" (press)="presentActionSheet($event, teachItem.id)">
          <ion-thumbnail item-start>
            <img src="http://lms.ccnl.scut.edu.cn/lms/custom/{{teachItem.filepath}}">
          </ion-thumbnail>
          <h3>{{teachItem.name}}</h3>
          <p>{{teachItem.introduction}}</p>
          <!--<button ion-button (click)="openTeacherPage(teachItem.id)" item-end>查看</button>-->
        </ion-item>
    </ion-list>

  </div>
</ion-content>
