<ion-content padding>
    <ion-list>
        <ion-item-sliding *ngFor="let openItem of openItems;let i = index">
          <ion-item (click)="pushOpenPage(openItem.id)">
            <ion-thumbnail item-start>
              <img src="{{ host }}/lms/custom/{{openItem.filepath}}" onerror="this.src='./assets/imgs/course.png'">
            </ion-thumbnail>
            <h3>{{openItem.name}}</h3>
            <p>
              <span *ngIf="openItem.courseTeacherString">{{openItem.courseTeacherString}} / </span>
              <span>{{openItem.classHour}}课时</span>
            </p>
          </ion-item>
          <ion-item-options>
            <button ion-button (click)="deleteCourse(teachItem.id)" [ngStyle]="{'background-color':'#F00000'}">
              删除
            </button>
            <button ion-button (click)="copyCourse(teachItem.id)" color="primary">
              复制
            </button>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

