table.dataintable {
  margin-top:15px;
  border-collapse:collapse;
  border:1px solid #aaa;
  width:95%;
  margin-left:2.5%;
}
table.dataintable th {
  vertical-align:baseline;
  padding:5px;
  background-color:#FFFFFF;
  border:1px solid #aaa;
  text-align:center;
}
table.dataintable td {
  vertical-align:text-top;
  padding:5px;
  border:1px solid #aaa;
  text-align: center;
  vertical-align: middle;
}
table.dataintable tr:nth-child(odd) {
  background-color:#F5F5F5;
}
table.dataintable tr:nth-child(even) {
  background-color:#fff;
}
caption.captiontext{
    margin-top: 3vw;
    margin-bottom: 5vw;
}
span.score{
    
}
.col-7{
  width: 14.28%;
}
page-correction{
  input.detail-input{
    width:10vw;
  }
}
