page-detail {

}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 75%;
    width: 100%;
    font-weight: bold;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 14px;
  }

  .card-subtitle {
    position: absolute;
    top: 90%;
    width: 100%;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 14px;
  }

}
.list-avatar-page {
  ion-note {
    align-self: flex-start;
    margin-top: 14px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
  }

}
ion-lable{
    font-family: "Microsoft YaHei";
    font-size: 14px;
  }
  .toolbar-title-ios{
    font-size: 1.6rem;
}
.toolbar-title-md{
    font-size: 1.6rem;
}
