page-detail {

}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 36%;
    width: 100%;
    font-weight: bold;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 14px;
  }

  .card-subtitle {
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 12px;
  }

}
.list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}
ion-lable{
   font-family: "Microsoft YaHei";
   font-size: 14px;
 }
