<!--
  Generated template for the VideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="hasVideo">
      <ion-card >
        <!--<video id="videoPlay"  controls="controls"  width="100%" ><source src="http://lms.ccnl.scut.edu.cn{{resourceUrl}}" type="video/mp4"></video>-->
        <video width="100%" src="{{videoUrl}}"  autoplay="autoplay" controls="controls">
        </video>
      </ion-card>
    </ion-item>
    <ion-item *ngIf="hasPDF" text-center>
      <button *ngIf="btnViewPDF" ion-button (click)="viewPDF()" block>点击查看课件</button>
       <ion-spinner name="dots" *ngIf="spinner"></ion-spinner>
      <ion-card >
        <pdf-viewer  [src]="pdfSrc" (after-load-complete)="afterLoadPDF()" [render-text]="true" [original-size]="false" style="display: block;">
        </pdf-viewer>
      </ion-card>
    </ion-item>
  </ion-list>



</ion-content>
