page-video {
    .videoHeight{
        height:60vw;
    }
  .loading {
    width: 100%;
    height:60vw;
    position: relative;
    background-color: #080000;
  }
  .loading ion-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  video {
    display: none;
  }
}
